@import "bootstrap-sprockets";
@import "bootstrap";

header{
  height: 70px; /* 高さ */
  width: 100%; /* 長さ */
  color: white;
  line-height: 60px;
  font-size: 50px;
  background-color: #b7ffb7;
  position: fixed; /* ヘッダーを固定(これが重要) */
  top: 0; /* 固定する位置 */
  left: 0; /* 固定する位置 */
  right: 0;  /* 固定する位置 */
}

body {
  background-color: #f7f7f7;
  padding-top: 60px;
}

table {
  margin :20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}